@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin create-font(
  $font-size: 16px,
  $font-weight: normal,
  $line-height: normal,
  $text-transform: none,
  $letter-space: normal,
  $font-family: 'Manrope'
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-space;
  font-family:
    #{$font-family},
    Tahoma,
    Arial,
    Helvetica,
    sans-serif;
  text-transform: $text-transform;
}
