.mobile-dropdown {
  border-top: 1px solid #070928 !important;
  > li {
    background: #070928 !important;
  }
}

.bottombar-nav-left {
  background: #070928 !important;
  background-color: #070928 !important;
}

.bottombar-nav {
  background-color: #070928 !important;
  background: #070928 !important;
}

.skin-noskin .bottombar-nav .dropdown-menu {
  background-color: #070928 !important;
}
