// only overrides to bs5 variables here

// below are the default values from harmony theme overrides.scss file
// feel free to change these for your custom theme

// Harmony colours
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$main: #070928 !default;

$blue: #0d6efd !default;
$red: #dc3545 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$cyan: #0dcaf0 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$body-color: $white !default;
$body-bg: $main !default;
$body-tertiary-bg: $gray-200 !default;
$text-muted: $gray-600 !default;
$border-color: $gray-200 !default;
$link-color: shade-color($blue, 20%) !default;

$btn-ghost-hover-color: mix($light, $dark, 90%);
$btn-ghost-active-color: lighten($btn-ghost-hover-color, 5%);
$btn-ghost-hover-color-dark: mix($dark, $light, 90%);
$btn-ghost-active-color-dark: lighten($btn-ghost-hover-color-dark, 5%);

:root {
  --btn-ghost-hover-color: #{$btn-ghost-hover-color};
  --btn-ghost-active-color: #{$btn-ghost-active-color};
}
[data-bs-theme="dark"] {
  --btn-ghost-hover-color: #{$btn-ghost-hover-color-dark};
  --btn-ghost-active-color: #{$btn-ghost-active-color-dark};
}

// no caret on dropdown-toggle
$enable-caret: false;

// disable smooth scroll, this makes window.scrollTo(0,0) in ajaxify.js take x milliseconds
$enable-smooth-scroll: false;

$enable-shadows: true;

$link-decoration: none;
$link-hover-decoration: underline;

// Custom fonts
$font-family-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-secondary: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-weight-semibold: 500 !default;
$small-font-size: 0.875rem !default;

$breadcrumb-divider: quote("→");
$breadcrumb-divider-color: $gray-500 !default;
$breadcrumb-active-color: $body-color !default;
$breadcrumb-item-padding-x: 12px !default;

.form-control::placeholder,
.bootstrap-tagsinput::placeholder {
  color: $gray-500 !important;
}

// header styles
:root {
  --gradient-rainbow: linear-gradient(
    90deg,
    #ca0e0e 0%,
    #c6ad10 16.67%,
    #58c13d 33.33%,
    #3befca 50%,
    #434bd7 66.67%,
    #d300ee 83.33%,
    #ca0e0e 100%
  );
  --gradient-2: linear-gradient(90deg, #ff006c 0%, #d911ba 100%);
}

.swiper {
  width: 100%;
  margin: 10px 0;
  padding-bottom: 40px !important;
}

.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-rainbow);
  border-radius: 24px;
  padding: 4px;
  overflow: hidden;
}

.swiper-slide::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: #000000
    url("https://cdn.undeads.com/assets/banners/airdrop/grid.png") repeat 100% 0;
  border-radius: 20px;
  z-index: 0;
}

.slide-content {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  z-index: 1;
  padding: 16px;
  width: 100%;
  height: 100%;
}

.slide-content-first {
  align-items: flex-start;
  padding: 20px 16px 16px 42px;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  @media (max-width: 1200px) {
    padding-left: 28px;
  }

  @media (max-width: 580px) {
    flex-direction: column;
    align-items: center;
  }
}

.slide-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}

.slide-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0;
  padding-bottom: 0;

  @media (max-width: 1200px) {
    right: -150px;
  }

  @media (max-width: 580px) {
    display: none;
  }
}

.slide-image {
  height: 100%;
  object-fit: contain;
}

.slide-title {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 8px;
  text-align: left;

  @media (max-width: 840px) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (max-width: 580px) {
    text-align: center;
  }
}

.slide-description {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  text-align: left;

  @media (max-width: 1200px) {
    max-width: 508px;
  }

  @media (max-width: 840px) {
    max-width: 340px;
  }

  @media (max-width: 580px) {
    max-width: auto;
    text-align: center;
  }
}

.slide-button {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  border-radius: 12px;
  background: var(
    --gradient-2,
    linear-gradient(90deg, #ff006c 0%, #d911ba 100%)
  );
  color: #fff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  transition: all 0.3s ease;
  width: 300px;
  justify-content: center;
  text-decoration: none;
}

.swiper-pagination-bullet {
  background: #e3e7eb !important;
  opacity: 1 !important;
  width: 12px !important;
  height: 12px !important;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  background: #e40ba1 !important;
}

.swiper-pagination {
  bottom: 10px !important;
}

.rate {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
